*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

form{
    max-width: 450px;
    width: 100%;
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    text-align: center;
}

form h1{
    margin-bottom: 40px;
}

form input{
    border: 1px solid gray;
    outline: none;
    text-indent: 10px;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
}

form button{
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

form input +p{
    display: none;
}

form button:disabled{
    opacity: .5;
    cursor: not-allowed;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }